
# --- Proje ve Model Ayarları ---
proje_adi: "Translation"
veri_seti: "HPLT"
model_mimarisi: "mt5-small"
model_teknigi: "4bit-QLoRA"
versiyon: "V1"
model_adi: "google/mt5-small"

# --- Dil Ayarları ---
# Not: Bu ayarlar V1 modeli için geçerlidir.
language:
  source: "English"
  target: "Turkish"

# --- Veri Ayarları ---
dataset:
  path: "datasets/HPLT_dataset/English-Turkish/"
  source_lang_file: "{source_lang}.parquet"
  target_lang_file: "{target_lang}.parquet"
  start_line: 0
  max_lines: 100000
  test_size: 0.2
  random_state: 42

# --- Eğitim Hiperparametreleri ---
training:
  epochs: 9
  train_batch_size: 10
  lr: 0.002
  gradient_accumulation_steps: 4
  percentile: 95
  max_len: 128

# --- QLoRA Hiperparametreleri ---
qlora:
  lora_rank: 64
  lora_alpha: 128
  lora_dropout: 0.05
  target_modules: "all-linear"

# --- Sistem Ayarları ---
system:
  gpu: True
  output_dir: "models"
  # V1 modeli için eski yol yapısı
  lora:
    base_dir: "{model_mimarisi}_{model_teknigi}_{proje_adi}_{veri_seti}_{versiyon}"
    lang_dir: "{source_lang}-{target_lang}"

artifacts:
  processed_data_dir: "artifacts/processed_data"
  results_dir: "artifacts/training_results"
