bitsandbytes
accelerate
peft
transformers
evaluate
pyarrow
torch
ftfy
torchinfo
scikit-learn
pandas
numpy
pyyaml
flet
uvicorn[standard]
python-multipart
beautifulsoup4
deepl
deep_translator
tqdm
matplotlib
pytorch_lightning
sentence-transformers
requests
ctranslate2
symspellpy
